@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
    --padding-default: 8px;
    --margin-default: 8px;
    --text-color: #333;
    --text-color-light: #fafafa;
    --primary-color: #ffd454;
    --primary-color-dark: #ebb000;
    --background-color: #ffd454;
    --selected-color: #9c27b0;
    --border-radius: 4px;
    --layout-grid-min: 30ch;
    --layout-grid-gap: 1rem;
    --waste-background-color: #e2bf56;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--background-color);
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

header > h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

footer {
    position: fixed;
    bottom: 0;
    padding: var(--padding-default);
    background-color: var(--primary-color-dark);
    width: 100vw;
    z-index: 1;
    display: flex;
    box-sizing: border-box;
}

main {
    padding-top: 40px;
    padding-bottom: 40px;
}

section > h2 {
    text-align: center;
    text-transform: uppercase;
}

label ~ input {
    margin-left: 4px;
}

dialog {
    background-color: var(--primary-color-dark);
    border: solid 1px;
    border-radius: var(--border-radius);
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
}

dialog > form > .dialog-icon {
    text-align: center;
}

dialog > form > .dialog-icon > .material-icons {
    font-size: 3em;
}

dialog > form > p {
    text-align: justify;
}

dialog > form > menu {
    text-align: center;
    padding: 8px 0 0px 0;
    margin: 24px 0 0 0;
    border-top: solid 1px var(--text-color);
}

dialog > form > menu > button {
    margin: 0 4px;
}

.primary {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.primary-dark {
    background-color: var(--primary-color-dark);
    color: var(--text-color);
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

.shortcut {
    text-decoration: underline;
}

.layout-grid {
    display: grid;
    grid-gap: var(--layout-grid-gap);
    grid-template-columns: repeat(auto-fit, minmax(var(--layout-grid-min), 1fr));
}

.footer-fill {
    flex: 1 0 auto;
}

.footer-far-end {
    flex: 0 1 auto;
}

.date-selector > * {
    margin: var(--margin-default);
}

.date-selector > input[type='date'] {
    position: relative;
    overflow: visible;
    margin-top: 20px;
}

.date-selector > input[type='date']:before {
    content: attr(title);
    position: absolute;
    top: -18px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.6rem;
}

.waste-selector {
    --layout-grid-min: 7ch;
    --layout-grid-gap: .5rem;
    padding: var(--padding-default);
}

.waste-checkbox {
    height: 120px;
    width: 120px;
    position: relative;
    border: solid 1px var(--text-color-light);
    border-radius: var(--border-radius);
}

.waste-checkbox > label {
    background-image: url(images/recycle_icons.png);
    background-repeat: no-repeat;
    background-size: 470px;
    background-color: var(--waste-background-color);
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 4px;
    user-select: none;
    box-sizing: border-box;
}

.waste-checkbox > input[type='checkbox'] {
    display: none;
}

.waste-checkbox > input[type='checkbox']:checked + label {
    color: var(--text-color-light);
    background-color: var(--selected-color);
    font-weight: bold;
}

.waste-checkbox.waste-c > label {
    background-position: 33% 71%;
}

.waste-checkbox.waste-p > label {
    background-position: 3% 39%;
}

.waste-checkbox.waste-s > label {
    background-position: 94% 99%;
}

.waste-checkbox.waste-u > label {
    background-position: 94% 40%;
}

.waste-checkbox.waste-v > label {
    background-position: 64% 5%;
}

.history-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: var(--margin-default);
}

.history-container > * {
    padding: calc(var(--padding-default) / 2);
    border-radius: var(--border-radius);
    border: 1px solid #aba0a0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--primary-color-dark);
}

.waste-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(/static/media/recycle_icons.b221e1a8.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-color: var(--waste-background-color);
    margin: 1px;
    border-radius: 2px;
}

.waste-icon[waste-type='C'] {
    background-position: 35% 68%;
}

.waste-icon[waste-type='P'] {
    background-position: 6% 38%;
}

.waste-icon[waste-type='S'] {
    background-position: 92% 95%;
}

.waste-icon[waste-type='U'] {
    background-position: 91% 39%;
}

.waste-icon[waste-type='V'] {
    background-position: 63% 7%;
}